@use "../../globals";
@use "../../mixins";


.header-navbar {
  position: fixed;
  inset: auto 0;
  z-index: 100;
  border-bottom: 1px solid #d1d1d1;


  & .header-navbar__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding: 0px 32px;
    padding-top: 30px;
    padding-bottom: 28px;

    @include media-breakpoint-up(xl) {
      padding: 0px 84px;
      padding-top: 30px;
      padding-bottom: 28px;
    }

    & div {
      display: flex;
      align-items: center;
      gap: 0;
      justify-content: space-between;
      width: 100%;

      & img {
        cursor: pointer;

      }

      & #menu-burger {
        order: 2;
      }

      @include media-breakpoint-up(xl) {
        gap: 45px;
        width: auto;

        & #menu-burger {
          order: 0;
        }

      }
    }

    & ul {
      display: none;
      gap: 54px;
      align-items: end;
      margin-bottom: 8px;

      @include media-breakpoint-up(xl) {
        display: flex;
      }

      & li {
        list-style: none;
        line-height: 0;

        & a {
          letter-spacing: 1.26px;
          font-size: 14px;
        }
      }
    }


  }
}

.white-mode {
  color: black;
  background-color: white;
}

.left-menu {
  position: fixed;
  top: 0;
  width: 95%;
  height: 100vh;
  background-color: $white;
  margin: 0;
  padding: 0;
  translate: -100%;
  transition: all $delay linear;

  @include media-breakpoint-up(sm) {
    width: 593px;
  }

  & .left-menu__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d1d1d1;
    padding: 29px 52px;
    padding-bottom: 84px;

    .close-menu {
      order: 2;
    }

    @include media-breakpoint-up(xl) {
      padding: 29px 89px;
      padding-bottom: 84px;

      gap: 54px;
      justify-content: start;

      .close-menu {
        order: 0;
      }
    }
  }

  & .secundary-menu__header {
    padding: 29px 52px;
    padding-bottom: 24px;
    border-bottom: 1px solid #d1d1d1;
    display: flex;
    flex-direction: column;
    gap: 60px;

    @include media-breakpoint-up(xl) {
      padding: 29px 89px;
      padding-bottom: 24px;
    }

    & div {
      display: flex;
      justify-content: space-between;

      & img {
        cursor: pointer;
      }
    }

    & h3 {
      text-transform: capitalize;
      font: normal normal 600 36px/42px Raleway;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
    }

  }

  & .other-menu {
    display: flex;
    flex-direction: column;
    gap: 46px;
    border-bottom: 1px solid #d1d1d1;
    padding: 29px 52px;

    @include media-breakpoint-up(xl) {
      padding: 29px 89px;
    }

    & .link-menu-arrow {
      font-size: 20px;
      cursor: pointer;
    }
  }

  & .last-other-menu {
    display: flex;
    flex-direction: column;
    gap: 46px;
    padding: 29px 52px;

    @include media-breakpoint-up(xl) {
      padding: 29px 89px;
    }

    & .link-menu-arrow {
      cursor: pointer;
    }
  }

  & .other-menu-mid {
    display: flex;
    flex-direction: column;
    gap: 44px;
    padding: 29px 52px;
    border-bottom: 1px solid #d1d1d1;

    & .font-size-16 {
      font-size: 16px;
    }

    @include media-breakpoint-up(xl) {
      padding: 29px 89px;
    }

    & .link-menu-arrow {
      cursor: pointer;

    }
  }

  opacity: .4;
  overflow-y: auto;


  & .close-menu {
    cursor: pointer;
  }
}


.menu-burger {
  cursor: pointer;
}

.active-menu {
  transition: all $delay linear;
  translate: 0%;
  opacity: 1;
}

.accordion-other-menu {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d1d1d1;
  padding: 29px 0;
  padding-bottom: 0px;


}

.show-content-menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, 110px);
  grid-auto-rows: minmax(100px, 1fr);
  gap: 16px;
  max-height: 0px;
  background-color: $darkWhite;
  overflow: hidden;
  opacity: 0;
  transition: all $delay linear;
  visibility: hidden;
  padding: 16px 52px;

  @include media-breakpoint-up(xl) {
    padding: 16px 89px;
  }
}

.accordion-menu {
  margin-left: 52px;
  margin-right: 52px;
  cursor: pointer;

  @include media-breakpoint-up(xl) {
    margin-left: 89px;
    margin-right: 89px;
  }

}

.active-acorddion {
  visibility: visible;
  max-height: 400px;
  padding: 29px 52px;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 1;

  @include media-breakpoint-up(xl) {
    padding: 29px 89px;
  }
}

.logo {
  width: 172px;

  @include media-breakpoint-up(sm) {
    width: 222px;
  }
}

.previous-menu,
.accordion-img {
  height: 20px;
}

.rotate-90 {
  transition: all $delay linear;
  transform: rotate(90deg);
}

.close-menu {
  width: 17;

  @include media-breakpoint-up(sm) {
    width: 23px;
  }
}

.menuBackdrop {
  visibility: hidden;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all $delay linear;
  opacity: 0;
}

.isOpenBackdrop {
  visibility: visible;
  opacity: 1;
}