@use "../../globals";
@use "../../mixins";


.header-navbar {
  position: fixed;
  inset: auto 0;
  z-index: 100;



  & .header-navbar__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding: 24px 32px;
    border-bottom: 1px solid $white;

    & div {
      display: flex;
      align-items: center;
      gap: 0;
      justify-content: space-between;
      width: 100%;
 
      & img {
      cursor: pointer;

      }
      & #menu-burger {
        order: 2;
      }

      @include media-breakpoint-up(lg) {
        gap: 45px;
        width: auto;

        & #menu-burger {
          order: 0;
        }

      }
    }

    & ul {
      display: none;
      gap: 54px;
      align-items: end;
      margin-bottom: 8px;

      @include media-breakpoint-up(lg) {
        display: flex;
      }

      & li {
        list-style: none;
        line-height: 0;

        & a {
          letter-spacing: 1.26px;
          font-size: 14px;
        }
      }
    }


  }
}

.white-mode {
  color: black;
  background-color: white;
}