@use "../../globals";

.dropdown {
  width: fit-content;

  .dropdown-toggle {
    text-decoration: none;
    text-transform: none;
    font-size: 18px;
    padding-bottom: 8px;

    img {
      margin-left: 10px;
      transition: transform $delay;
    }

    &::after {
      content: none;
    }
  }

  .dropdown-menu {
    border-radius: 0px;
    margin-top: 8px;
    padding: 30px;
  }

  &:hover {
    img {
      transition: transform $delay;
      transform: rotate(90deg);
    }

    .dropdown-menu {
      display: block;
    }
  }

  .dropdown-item {
    color: globals.$white;
    font-size: 18px;
    font-weight: $textSemibold;

    &:hover {
      color: globals.$black;
    }
  }
}
