<html>
<link rel="stylesheet" href="/dist/css/main.css">
<script src="/dist/js/bootstrap.bundle.min.js"></script>

<body class="mt-4 d-flex flex-column p-4 gap-4 bg-info">

  //content
  //TODO: FEEDBACK

  <div class="dropdown">
    <a class="link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      Capacidad
      <span><img src="/dist/assets/icons/link-menu-arrow--lang-arrow.svg" alt=""></span>
    </a>
    <ul class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="#">2-3</a></li>
      <li><a class="dropdown-item" href="#">4-5</a></li>
      <!-- <li>
            <hr class="dropdown-divider">
          </li> -->
      <li><a class="dropdown-item" href="#">6-7*</a></li>
    </ul>
  </div>


  <select class="dropdown-maps" name="select">
    <option value="value1" selected>Distancia</option>
    <option value="value2">Value 2</option>
    <option value="value3">Value 3</option>
  </select>


  <details class="dropdown-card">
    <summary class="no-marker">
      Especificaciones Generales
    </summary>
    <div class="details-inner">
      <ul>
        <li>
          <div>
            <p>Dimensiones del Spa (cm):</p>
            <span>198x198x76</span>
          </div>
        </li>
        <li class="bg-danger">
          <div>
            <p> Número de plazas del Spa (sentados / tumbados):</p>
            <span>4 (4/-)</span>
          </div>
        </li>
        <li>
          <div>
            <p>Volumen de agua de los Spas (litros):</p>
            <span>975</span>
          </div>
        </li>
        <li class="bg-danger">
          <div>
            <p>Peso del Spa: (vacío - lleno):</p>
            <span>220 Kg / 1.195 Kg</span>
          </div>
        </li>
        <li>
          <div>
            <p>Bomba de masaje del Spa:</p>
            <span>1.800 W / 2,5 CV</span>
          </div>
        </li>
        <li class="bg-danger">
          <div>
            <p>Bomba soplante del Spa:</p>
            <span>1.150 W</span>
          </div>
        </li>
        <li>
          <div>
            <p> Bomba de filtración del Spa:</p>
            <span>200 W</span>
          </div>
        </li>
        <li class="bg-danger">
          <div>
            <p>Calefacción eléctrica del Spa:</p>
            <span>3.000 W</span>
          </div>
        </li>
        <li>
          <div>
            <p>Potencia requerida:</p>
            <span> Low Amp (W) / (A) a 230 V: 3.400 W / 14,6 A </span>
          </div>
        </li>
        <li class="bg-danger">
          <div>
            <p> Voltaje de los Spas:</p>
            <span> 230 V / 400 V III</span>
          </div>
        </li>
      </ul>
    </div>
  </details>

  <details class="dropdown-podemos">
    <summary class="no-marker">¿Podemos ayudarle?</summary>
    <div class="details-inner">
      <form action="">form__footer-podemos</form>
    </div>
  </details>


  <div class="dropdown dropdown-lang">
    <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      España
      <img src="/dist/assets/icons/link-menu-arrow--lang-arrow.svg">
    </a>
    <ul class="dropdown-menu dropdown-menu__lang">
      <li><a class="dropdown-item" href="#">United Kingdom</a></li>
      <li><a class="dropdown-item" href="#">France</a></li>
      <li><a class="dropdown-item" href="#">Belgique</a></li>
      <li><a class="dropdown-item" href="#">Deutschland</a></li>
      <li><a class="dropdown-item" href="#">Italia</a></li>
      <li><a class="dropdown-item" href="#">Nederland</a></li>
      <li><a class="dropdown-item" href="#">Global (English)</a></li>
      <li><a class="dropdown-item" href="#">Global (Français)</a></li>
    </ul>
  </div>


  <details class="dropdown-valor">
    <summary class="no-marker link-arrow-grow-white-reverse">
      <div class="d-flex align-items-center container-arrow-white">
        <div class="link__arrow-white"></div>
        <svg xmlns="http://www.w3.org/2000/svg" width="7.026" height="20.162" viewBox="0 0 9.026 20.162">
          <g id="Grupo_12494" class="link__arrow-svg-white" data-name="Grupo 12494"
            transform="translate(-326.008 -160.675)">
            <line id="Línea_18" data-name="Línea 18" x1="8.24" y1="10.486" transform="translate(326.401 160.984)"
              stroke-width="1" />
            <line id="Línea_19" data-name="Línea 19" y1="9.029" x2="8.24" transform="translate(326.401 171.471)"
              stroke-width="1" />
          </g>
        </svg>
      </div>
      <span>Calidad</span>
    </summary>

    <div class="details-inner">
      <div class="details-inner__text">
        <h5>Nuestra política de calidad es radical, global e integral. </h5>
        <p> No se centra únicamente en el producto final sino en todos y cada uno de los puntos del proceso de diseño,
          producción, distribución y posventa. Lo confirman nuestras certificaciones (ISO 9001 para sistemas de gestión
          de calidad, marcaje CE sobre las más estrictas normas europeas), pero vamos mucho más allá: nuestra filosofía
          de empresa incluye la máxima calidad en el trabajo, en las condiciones laborales y en nuestra relación con el
          entorno y el medioambiente.</p>
      </div>
    </div>
  </details>

  <details class="dropdown-docs">
    <summary class="dropdown-docs__summary no-marker">
      <span>Exclusive Spa</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 21.291 11.189">
        <g id="Grupo_12322" data-name="Grupo 12322" transform="translate(-888.016 -7887.31)">
          <line id="Línea_77" data-name="Línea 77" y1="10.116" x2="9.87" transform="translate(898.901 7887.846)" fill="none" stroke="#000" stroke-width="1.5"/>
          <line id="Línea_78" data-name="Línea 78" x2="10.361" y2="10.116" transform="translate(888.54 7887.846)" fill="none" stroke="#000" stroke-width="1.5"/>
        </g>
      </svg>
    </summary>
    <div class="details-inner">
      <p>content</p>
      <p>content</p>
      <p>content</p>
      <p>content</p>
    </div>
  </details>

  <script src="/dist/js/main.js"></script>
</body>

</html>