<html>
<link rel="stylesheet" href="/dist/css/main.css">
<script src="/dist/js/bootstrap.bundle.min.js"></script>
<script src="/dist/js/bootstrap.main.js"></script>

<body class="mt-4 d-flex flex-column p-4 gap-4">

    //content

    <div class="dropdown">
        <a class="link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Capacidad
          <span><img src="/dist/assets/icons/link-menu-arrow--lang-arrow.svg" alt=""></span>
        </a>
        <ul class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">2-3</a></li>
          <li><a class="dropdown-item" href="#">4-5</a></li>
          <!-- <li>
            <hr class="dropdown-divider">
          </li> -->
          <li><a class="dropdown-item" href="#">6-7*</a></li>
        </ul>
      </div>


      <select class="dropdown-maps" name="select">
        <option value="value1" selected>Distancia</option>
        <option value="value2" >Value 2</option>
        <option value="value3">Value 3</option>
      </select>


      <details class="dropdown-card">
        <summary>Especificaciones Generales</summary>
        <ul>
          <li>Cash on hand: $500.00</li>
          <li>Current invoice: $75.30</li>
          <li>Due date: 5/6/19</li>
        </ul>
      </details>

</body>

</html>