<html>
<link rel="stylesheet" href="/dist/css/main.css">
<script src="/dist/js/bootstrap.bundle.min.js"></script>
<script src="/dist/js/bootstrap.main.js"></script>

<body class="mt-4 d-flex flex-column p-4 gap-4 bg-danger">

    //content

    <div class="dropdown">
        <a class="link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Capacidad
          <span><img src="/dist/assets/icons/link-menu-arrow--lang-arrow.svg" alt=""></span>
        </a>
        <ul class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">2-3</a></li>
          <li><a class="dropdown-item" href="#">4-5</a></li>
          <!-- <li>
            <hr class="dropdown-divider">
          </li> -->
          <li><a class="dropdown-item" href="#">6-7*</a></li>
        </ul>
      </div>


</body>

</html>