@use "../../../globals";
@use "../../../mixins";

.slider-large-container--prestaciones {
  height: 475px;
  @include media-breakpoint-up(lg) {
    height: 600px;
  }

  .card-prestacion-lite {
    height: 100%;
  }

  .pagination-prestaciones {
    position: absolute !important;
    bottom: 0 !important;
  }
}

.prestaciones-swiper {
  overflow: hidden;
  height: 100%;
}
