@use "../../../globals";
@use "../../../mixins";

.prestaciones-slider {
    p {
        max-width: 720px;
        text-align: center;
        align-self: center;
        margin: 0;
        color: $grayText;
    }
    .prestaciones__filter {
        margin-top: 10px;
        @include media-breakpoint-up(special) {
            justify-content: center;
        }
        a {
            text-align: center;
        }
    }
    .prestaciones-slider__slider {

    }
}