@use "../../../globals";
@use "../../../mixins";

.slider-large-container {
  @include desk-space;
  padding: 0 $pxMobile;
  padding: 0;
  position: relative;
  height: 380px;
  @include media-breakpoint-up(md) {
    padding: 0 50px;
    height: 405px;
  }
}

.accesorios-slider {
  position: relative;
  overflow: hidden;
}

.pagination-accesorios {
  position: absolute !important;
  bottom: 0 !important;
  // @include media-breakpoint-up(md) {
  //   bottom: -10% !important;
  // }
}

.prev-accesorios {
  top: 35% !important;
  @include media-breakpoint-down(md) {
    display: none !important;
  }
}

.next-accesorios {
  top: 35% !important;
  @include media-breakpoint-down(md) {
    display: none !important;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 40px !important; /* Reduced font-size for thinner arrows */
  stroke-width: 0px;
  text-transform: none !important;
  color: black !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

