@use "../../../globals";
@use "../../../mixins";

.accseorios-slider {
  position: relative;
  overflow: hidden;
  padding-bottom: 30px;//Espacio hasta la bullets

  @include media-breakpoint-up(lg) {
    padding-bottom: 60px;//Espacio hasta la bullets
  }
  
  
  .swiper-wrapper {
  padding: 0 40px
  
  }
}


.section-slider-accsesorios {
  @include desk-space;
  


  & .section-slider-accsesorios__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 15px;
    padding-right: $pxMobile;

    @include media-breakpoint-up(lg) {
      margin-bottom: 64px;
    }

    & h3 {
      font-size: 28px;
      font-weight: $textMedium;

      @include media-breakpoint-up(lg) {
        font-size: 42px;
      }
    }

    & p {
      font-size: 18px;
      font-weight: $textRegular;
      text-wrap: wrap;
      text-align: center;
    }
  }
}

/*Slider*/
.card-accesorios {
  scroll-snap-align: start;
}

.guias-accseorios-slider {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 43px;
}

.controls-accseorios-slider {
  width: 40px;
  height: 6px;
  background-color: #c7c6be;
  margin-right: 8px;
  cursor: pointer;
}

.control-active {
  background-color: #464646;
}


.swiper-pagination-accesorios {
  min-width: 250px;
}