@use "../../globals";
@use "../../mixins";

.jets {
    position: relative;
    max-width: $maxW;
    height: 800px;
    margin: 0 auto;
}

.jets-swiper {}

.swiper-container {}

.jets-swiper-wrapper {}


