.swiper-container {
  padding: 0;
  margin: 0;
}

.swiper-slide {
  & img {
    width: 100%;

    @include media-breakpoint-up(lg) {
      padding: 0 20px;
    }
  }
}

.swiper-pagination-bullet {
  width: 40px !important;
  height: 6px !important;
  background-color: #c7c6be !important;
  margin-right: 8px !important;
  cursor: pointer !important;
  border-radius: 0 !important;
  width: 50%;
  margin-top: 0 !important;
}

.swiper-pagination-bullet-active {
  background-color: #464646 !important;
}

.swiper {
  position: unset;
}

.slider-container {
  position: relative;
  padding-bottom: 50px;
  width: 315px;
  @include media-breakpoint-up(lg) {
    max-width: 385px;
    max-height: 540px;
  }
}

.swiper-pagination-bullets {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-slide img {
  padding: 0;
}
