.swiper-container {
  @include media-breakpoint-up(lg) {
    width: 50%;

  }

  max-width: 80vw;
  padding: 0;
  margin: 0;
}

.swiper-slide {
  & img {
    width: 100%;

    @include media-breakpoint-up(lg) {
      padding: 0 20px;

    }

  }
}

.swiper-pagination-bullet {
  width: 40px !important;
  height: 6px !important;
  background-color: #C7C6BE !important;
  margin-right: 8px !important;
  cursor: pointer !important;
  border-radius: 0 !important;
  width: 50%;
  margin-top: 0 !important;
}

.swiper-pagination-bullet-active {
  background-color: #464646 !important;
}