.swiper-pagination-bullet {
  width: 40px !important;
  height: 6px !important;
  background-color: #c7c6be !important;
  margin-right: 8px !important;
  cursor: pointer !important;
  border-radius: 0 !important;
  width: 50%;
  margin-top: 0 !important;
}

.swiper-pagination-bullet-active {
  background-color: #464646 !important;
}

.swiper {
  position: unset;
}

.slider-container {
  position: relative;
}

.swiper-pagination-bullets {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slider-container {
  max-width: 375px;
  min-width: auto;
  width: auto;
  margin: 0 auto;
  padding-bottom: 50px;

  @include media-breakpoint-up(lg) {
    padding-left: 45px;
    padding-right: 45px;
    width: auto;
    min-width: 375px;
    max-width: 600px;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.intro-ficha .intro__container__text {
  @include media-breakpoint-up(lg) {
    min-width: 400px;
  }
}

.intro-ficha .intro__container__img img {
  width: 100%;
}

//slider intro ficha
.intro-ficha {
  .intro__container {
    padding: 60px 0;
    @include media-breakpoint-up(lg) {
      padding: 85px 0 100px 0;
    }
  }

  .swiper-slide {
    height: auto !important;
  }

  @include media-breakpoint-down(lg) {
    .prev-intro,
    .next-intro {
      display: none;
    }
  }
}

.intro-swiper__img {
  width: 100%;
  height: 100%;
}
