@use "../../../globals";
@use "../../../mixins";

.top-ventas {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 0 24px;

  &__title {
      h3 {
        margin: 0px;
        text-align: center;
      }
  }
  &__container {
    display: flex;
    gap: 13px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  @include media-breakpoint-up(lg) {
    gap: 44px;
    align-items: center;

    &__container {
      gap: 20px;
      //   justify-content: center;
    }
  }
}
