@use "../../../globals";
@use "../../../mixins";

.top-ventas {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 0 24px;
  scroll-snap-type: x, mandatory;

  &__title {
    h3 {
      margin: 0px;
      text-align: center;
    }
  }

  &__container {
    display: flex;
    gap: 13px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  @include media-breakpoint-up(lg) {
    gap: 44px;
    align-items: center;

    &__container {
      gap: 20px;
      //   justify-content: center;
    }
  }
}


/*Slider*/
.card-spa {
  scroll-snap-align: start;
}


.guias-top-ventas {
  display: flex;
  justify-content: center;
  gap: 8px;

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.controls-top-ventas {
  width: 40px;
  height: 6px;
  background-color: #C7C6BE;
  margin-right: 8px;
  cursor: pointer;
}

.control-active {
  background-color: #464646;
}