@use "../../../globals";
@use "../../../mixins";

.top-ventas {
  @include desk-space;
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 0 $pxMobile;
  @include media-breakpoint-up(lg) {
    padding: 0px;
  }

  &__title {
    align-self: center;
    h3 {
      margin: 0px;
      text-align: center;
    }
  }

  &__container {
    display: flex;
    gap: 13px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;

  }

  @include media-breakpoint-up(lg) {
    gap: 44px;
    align-items: flex-start;
    overflow-x: auto;


    &__container {
      gap: 20px;
      //   justify-content: center;
    }
  }
}


/*Slider*/
.card-spa {
  scroll-snap-align: start;
}


.guias-top-ventas {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-self: center;

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.controls-top-ventas {
  width: 35px;
  height: 6px;
  background-color: #C7C6BE;
  margin-right: 8px;
  cursor: pointer;
}

.control-active {
  background-color: #464646;
}

.top-ventas__container {
  @include media-breakpoint-up(lg) {
    margin: 0 auto;
  }
}