@use "../../globals";
@use "../../mixins";

.faqs__links {
    overflow-x: auto;

    .search-container input {
        min-width: 380px;
        max-width: 470px;
        padding-left: 17px;
    }
}

.form-full-footer-faqs {
    padding-top: 46px;
    color: black;

    & b,
    a {
        color: black;
        text-decoration: underline;
    }

    & .form-full__container label input,
    .d-flex select,
    .d-flex textarea {
        border: 1px solid #A5A5A5;
        color: black;
        outline: none;
        background: transparent;
    }

    & .btn-ficha {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        justify-content: center;
        color: black;

        @include media-breakpoint-up(lg) {
            width: 50%;
        }
    }
}

.faqs-form-header {
    & h2 {

        text-align: center;
        font: normal normal medium 30px/37px Raleway;
        padding-top: 66px;

        @include media-breakpoint-up(lg) {
            text-align: center;
            font: normal normal normal 42px/49px Raleway;
            padding-top: 125px;

        }

    }

}