@use "../../globals";


.search-container {
  //TODO: poner lupa en bg
  position: relative;

  @include media-breakpoint-up(lg) {
    width: 470;
  }

  & input {
    height: 44px;
    background-color: #EDEDED;
    border: none;
    padding-right: 40px;
    padding-left: 4px;
    font-size: 18px;
    width: 100%;

    font-weight: $textRegular;
    font-family: $font-family-base;



    &:focus-visible {
      border: none;
      outline: none;
    }

  }

  & img {
    position: absolute;
    top: 27%;
    right: 15;
  }
}





.search-container-withe {
  //TODO: poner lupa en bg
  position: relative;

  @include media-breakpoint-up(lg) {
    width: 470;
  }

  & input {
    height: 44px;
    border: 0.5px solid #A5A5A5;
    padding-right: 40px;
    padding-left: 4px;
    font-size: 18px;
    width: 100%;

    font-weight: $textRegular;
    font-family: $font-family-base;



    &:focus-visible {
      border: 0.5px solid #A5A5A5;
      outline: none;
    }

  }

  & img {
    position: absolute;
    top: 27%;
    right: 15;
  }
}










.form-full {
  display: flex;
  flex-direction: column;
  gap: 19px;
  max-width: 920px;

  label span {
    font-size: 18px;
    font-weight: $textRegular;
  }

  & .form-full__container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    & label input {
      background-color: #EDEDED;
      border: none;
      height: 44px;
      padding-left: 4px;

      &:focus-visible {
        border: none;
        outline: none;
      }
    }

    @include media-breakpoint-up(lg) {
      gap: 28px;
      flex-direction: row;

    }


  }

  & label .form-full__select {
    text-align: center;
    height: 44px;
    background-color: #EDEDED;
    border: none;

  }

  & label .form-full__textarea {
    background-color: #EDEDED;
    border: none;
    height: 200px;
    resize: none;
  }

  & .form-full__checkbox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & p {

      & b{
        margin-left: 6px;
      }
      margin: 0 0;
      @include media-breakpoint-up(lg) {
        display: flex;
        align-items: center;
      }
    }

    input[type="checkbox"] {
      width: 19px;
      height: 19px;
      margin-right: 8px;
    }

  }

  & .btn-ficha {
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 0 auto;


    @include media-breakpoint-up(lg) {
      width: 450px;
    }

  }

  & p {
    max-width: 100%;
    font-size: 14px;

    @include media-breakpoint-up(lg) {}

  }

  & .form-full__terms {
    max-width: 379px;
    text-transform: none;
  
  }

}