<html>
<link rel="stylesheet" href="/dist/css/main.css">
<script src="/dist/js/bootstrap.bundle.min.js"></script>
<script src="/dist/js/bootstrap.main.js"></script>

<body class="mt-4 d-flex align-items-en flex-column gap-4 bg-dark-subtle py-5 py-5">

  //All Forms

  <div class="d-flex ">

  </div>

  <form class="maxw bg-light px-5">
    <div class="d-flex flex-column gap-4 flex-lg-row justify-content-between">
      <label class="d-flex flex-column w-100" for="">
        Nombre*
        <input type="text">
      </label>
      <label class="d-flex flex-column w-100" for="">
        Apellidos*
        <input type="text">
      </label>
    </div>

  </form>


</body>

</html>