@use "../../globals";
@use "../../mixins";

.features {
  position: relative;
}

.features:after,
.features:after {
  z-index: -1;
  position: absolute;
  top: 98.1%;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 0;
  height: 0;
  border-top: solid 45px $info;
  border-left: solid 45px transparent;
  border-right: solid 45px transparent;
}

.features__content {
  @include desk-space;
  padding: 100px $pxMobile;
  display: flex;
  flex-direction: column;
  gap: 70px;

  h2 {
    text-align: center;
    font-weight: $textMedium;
    font-size: 32px;
    line-height: 44px;
    @include media-breakpoint-up(lg) {
      font-size: 42px;
      line-height: 49px;
    }

    span {
      padding-bottom: 8px;
      border-bottom: 2px solid $black;
    }
  }
}

.features__grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 80px;
  row-gap: 40px;
}

.features__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 272px;

  img {
    width: 110px;
    height: 110px;
  }

  &__text {
    @extend .features__card;
    gap: 7px;

    h4 {
      font-size: 24px;
      font-weight: $textSemibold;
      margin: 0px;
      text-align: center;
      line-height: 34px;
      @include media-breakpoint-up(lg) {
        font-size: 28px;
      }
    }

    p {
      margin: 0;
      text-align: center;
    }
  }
}

.thanks__content {
  @include desk-space;
  padding: 100px $pxMobile;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  h2 {
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    font-weight: $textSemibold;
    margin: 0;
    @include media-breakpoint-up(lg) {
      line-height: 49px;
      font-size: 42px;
    }
  }

  p {
    font-size: 18px;
    text-align: center;
    font-weight: $textRegular;
    margin: 0;
    line-height: 34px;
    max-width: 675px;
    @include media-breakpoint-up(lg) {
      font-size: 28px;
    }
  }
}

.thanks__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.thanks__seguir {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px $pxMobile 180px $pxMobile;
}

/*Form*/
.register-form-header h3{
  font-size: 32px;
  font-weight: $textMedium;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 29px;
  text-transform: none;
  @include media-breakpoint-up(lg) {
    font-size: 42px;
  }
}

/*tooltip*/
.tooltip {
  display: inline-block;
  position: relative;
  text-align: left;
  opacity: 1;
}


.tooltip .top {
  min-width: 200px;
  max-width: 400px;
  top: -20px;
  left: 50%;
  transform: translate(-12%, -100%);
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  position: absolute;
  background-color: transparent;
  z-index: 9999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  display: none;
}

.tooltip:hover .top {
  display: block;
  & img {
    object-fit: cover;
  }
}

.tooltip .top i {
  position: absolute;
  top: 100%;
  left: 30%;
  margin-left: -70px;
  width: 30px;
  height: 15px;
  overflow: hidden;
}

.tooltip .top i::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #000000;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}