@use "../../globals";
@use "../../mixins";

.hidden-card {
  display: none;
}

.load-more {
  display: flex;
  justify-content: center;
  @include media-breakpoint-up(lg) {
    display: none;
  }

  svg {
    cursor: pointer;
  }
}

.sticky-btn {
  background-color: $white;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  @include media-breakpoint-up(lg) {
    display: none;
  }

  .btn-blue {
    width: 80%;
  }
}

.hidden {
  display: none;
}