@use "../../../globals";
@use "../../../mixins";


.prestaciones {
    @include desk-space;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 88px $pxMobile;

    h3 {
        text-align: center;
        margin: 0;
    }

    &__categories {
        margin-top: 15px; //se agrega para completar el gap
        position: relative;
    }

    &__filter {
        .link {
            cursor: pointer;
        }

        @include media-breakpoint-up(special) {
            align-self: center;
            justify-content: space-around;
        }
    }
}

.category {
    // position: absolute; //??
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(special) {
        flex-direction: row;

        .card-prestacion-menu {
            width: 80%;

            .link-arrow-grow-white-reverse {
                cursor: pointer;
            }
        }
    }

}

.prestaciones-cards {
    display: flex;
    

    @include media-breakpoint-down(special) {
        overflow-x: auto;
    }

    .card-prestacion {
        min-width: 100%;
        min-height: 490px;

        @include media-breakpoint-up(special) {
            min-width: auto;
            width: 732.68px;
        }
    }

    @include media-breakpoint-up(special) {
        width: 100%;
        flex-direction: column;
        overflow-x: visible;
        visibility: hidden;
    }
}


/*Slider*/
.prestaciones-cards {
    scroll-snap-type: x mandatory;
}

.card-prestacion {
    scroll-snap-align: start;

}

.guias-prestaciones-cards {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 8px;

    @include media-breakpoint-up(special) {
        display: none;
    }
}

.controls-prestaciones-cards {
    width: 40px;
    height: 6px;
    background-color: #C7C6BE;
    margin-right: 8px;
    cursor: pointer;
}

.control-prestaciones-active {
    background-color: #464646;
}