@use "../../../globals";
@use "../../../mixins";

.spas-grid {
    @include desk-space;
    padding: 90px $pxMobile;
    @include media-breakpoint-up(lg) {
        padding-top: 90px;
    }
    display: flex;
    flex-direction: column;
    gap: 38px;

    &__cards {
        display: grid;
        justify-content: center;
        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
          }
          @include media-breakpoint-up(xl) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
          }
          gap: 20px;

          .card-spa {
            @include media-breakpoint-down(lg) {
                margin-bottom: 0px;
            }
          }
    }

    .dropdown-filters {
        flex-wrap: wrap;//tiene que ser asi, xq de ponerle overflow-x se pierde el menu del dropdown
        .dropdown-toggle {
            font-weight: $textRegular
        }

        .spas-grid__filter--link {
            font-size: 18px;
            font-weight: $textRegular;
            text-transform: none;
        }
    }
}