@use "../../globals";

.link {
  width: fit-content;
  color: $black;
  font-size: 14px;
  font-weight: $textBold;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: color $delay, border-bottom-color $delay;

  &:hover {
    border-bottom: 2px solid $black;
  }

  &--white {
    color: $white;

    &:hover {
      border-bottom: 2px solid $white;
    }
  }
}

.link-menu {
  @extend .link;
  text-transform: none;
  transition: none;
  border-bottom: none;
  font-size: 15px;
  font-weight: $textMedium;

  &:hover {
    border-bottom: none;
  }

  &--upper {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: $textBold;
  }
}

.link-menu-arrow {
  font-size: 20px;
  font-weight: $textSemibold;
  color: $black;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-breakpoint-up(lg) {
    font-size: 24px;
  }

  &--upper {
    font-size: 14px;
    font-weight: $textBold;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
      font-size: 16px;
    }
  }

  &--lang {
    display: block;
    font-size: 13px;
    font-weight: $textMedium;

    img {
      margin-right: 12.5px;
    }

    span {
      img {
        margin: 0px;
        margin-left: 8.5px;
      }
    }
  }
}

.link-arrow-grow {
  position: relative;
  display: flex;
  gap: 4px;
  text-decoration: none;
  font-weight: $textMedium;
  font-size: 16px;
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
  padding-right: 10px;

  &:hover div .link__arrow {
    width: 55px;
  }

  &:hover span {
    border-bottom: 2px solid $black;
  }

  & span {
    border-bottom: 2px solid transparent;
    transition: color $delay, border-bottom-color $delay;
  }

  & .container-arrow {
    position: absolute;
    left: 100%;
    top: 4px;
  }

  & div .link__arrow {
    position: relative;
    margin-right: -6.6px;
    margin-bottom: -1px;
    height: 1px;
    width: 30px;
    background-color: $black;
    transition: all $delay linear;

    @include media-breakpoint-up(lg) {
      width: 36px;
    }
  }

  @include media-breakpoint-up(lg) {
    font-size: 18px;
  }
}

.link__arrow-svg {
  stroke: $black;
}

.link-arrow-grow-white {
  position: relative;
  display: flex;
  gap: 4px;
  text-decoration: none;
  font-weight: $textMedium;
  font-size: 16px;
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
  padding-right: 10px;
  color: $white;

  &:hover div .link__arrow-white {
    width: 55px;
  }

  &:hover span {
    border-bottom: 2px solid $white;
  }

  & span {
    border-bottom: 2px solid transparent;
    transition: color $delay, border-bottom-color $delay;
  }

  & .container-arrow-white {
    position: absolute;
    left: 100%;
    top: 4px;
  }

  & div .link__arrow-white {
    position: relative;
    margin-right: -6.6px;
    margin-bottom: -1px;
    height: 1px;
    width: 30px;
    background-color: $white;
    transition: all $delay linear;

    @include media-breakpoint-up(lg) {
      width: 36px;
    }
  }

  @include media-breakpoint-up(lg) {
    font-size: 18px;
  }
}

.link__arrow-svg-white {
  stroke: $white;
}

/*link-arrow-grow-reverse*/

.link-arrow-grow-white-reverse {
  position: relative;
  display: flex;
  gap: 12px;
  text-decoration: none;
  font-weight: $textMedium;
  font-size: 16px;
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
  padding-right: 10px;
  color: $white;

  &:hover div .link__arrow-white {
    width: 55px;
  }

  &:hover span {
    border-bottom: 2px solid $white;
  }

  & span {
    border-bottom: 2px solid transparent;
    transition: color $delay, border-bottom-color $delay;
  }

  & .container-arrow-white {
    position: relative;
  }

  & div .link__arrow-white {
    position: relative;
    margin-right: -6.6px;
    margin-bottom: -1px;
    height: 1px;
    width: 30px;
    background-color: $white;
    transition: all $delay linear;

    @include media-breakpoint-up(lg) {
      width: 36px;
    }
  }

  @include media-breakpoint-up(lg) {
    font-size: 22px;
  }
}

.link__arrow-svg-white {
  stroke: $white;
}

.link-documento {
  width: 100%;
  text-decoration: none;
  font-size: 16px;
  font-weight: $textRegular;
  color: $gray;
  display: flex;
  align-items: center;
  gap: 18px;

  &::before {
    content: url("/dist/assets/icons/link-documento.svg");
    width: 20px;
    height: 25px;
  }

  &:hover {
    text-decoration: underline;
  }

  @include media-breakpoint-up(lg) {
    font-size: 18px;
    align-items: end;
    gap: 23px;

    &::before {
      width: 28px;
      height: 35px;
    }
  }
}

.link-documento-dist {
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__text {
    font-size: 16px;
    color: $gray;
  }
  &::after {
    content: url("/dist/assets/icons/link-documento.svg");
    width: 18px;
    height: 23px;
  }
  &:hover {
    text-decoration: underline;
  }

  @include media-breakpoint-up(lg) {
    &__text {
      font-size: 18px;
    }
    &::after {
      width: 24px;
      height: 29px;
    }
  }
}

.link-back-asistente--lg {
  span {
    color: $black;
    font-size: 18px;
    font-weight: $textMedium;
  }

  .container-arrow-white {
    .link__arrow-white {
      // transform: rotate(180deg);
      background: $black;
      position: relative;
    }
    svg {
      margin-right: -6.6px;
      margin-bottom: -1.8px;
      transform: rotate(180deg);
      .link__arrow-svg-white {
        stroke: $black;
      }
    }
  }
  &:hover span {
    border-bottom: 2px solid $black;
  }
}

.link-back-asistente {
  background-color: $black;
  color: $white;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10.5px;
  padding: 20px 40px;
  span {
    font-size: 18px;
    font-weight: $textMedium;
  }
}