@use '../../globals';

.link {
    background-color: globals.$secondary;
    color: $white;
    text-decoration: none;

    &--white {
        background-color: globals.$primary;
        color: globals.$secondary;

        &:hover {
            color: $white;
        }
    }

}

.link-arrow {
    
}