<html>
<link rel="stylesheet" href="/dist/css/main.css">
<script src="/dist/js/bootstrap.bundle.min.js"></script>
<script src="/dist/js/bootstrap.main.js"></script>

<body class="mt-4 d-flex flex-column p-4 gap-4 bg-danger">

    //content

    <a class="link" href="#">Link</a>

    <a class="link link--white" href="#">Link white</a>

    <a class="link link-menu" href="#">Link menu</a>

    <a class="link-menu link-menu--upper" href="#">Link menu uppercase</a>


    <a class="link-menu-arrow" href="#">
        Link menu arrow
        <span><img src="/dist/assets/icons/link-menu-arrow.svg" alt=""></span>
    </a>

    <a class="link-menu-arrow link-menu-arrow--upper" href="#">
        Link menu arrow upper
        <span><img src="/dist/assets/icons/link-menu-arrow.svg" alt=""></span>
    </a>

    <a class="link-menu-arrow  link-menu-arrow--lang" href="#">
        <img src="/dist/assets/icons/link-menu-arrow--lang.svg"></img>España
        <span><img src="/dist/assets/icons/link-menu-arrow--lang-arrow.svg" alt=""></span>
    </a>

    <a  class="link-arrow-grow" href="#">
        
    </a>

</body>

</html>