<html>
<link rel="stylesheet" href="/dist/css/main.css">
<script src="/dist/js/bootstrap.bundle.min.js"></script>
<script src="/dist/js/main.js"></script>

<body class="mt-4 d-flex align-items-en flex-column gap-4 bg-dark-subtle px-5">

  //All Cards
  <div class="card-spa">
    <img src="/dist/assets/img/spa-nice.webp" alt="spa-nice">
    <div class="card-spa__text">
      <h3>Spa Nice</h3>
      <div class="card-spa__details">
        <div class="card-spa__detalis--features">
          <p>216 x 216 - 5 plazas</p>
          <p>Colección Premium Spa</p>
        </div>
        <p>$$</p>
      </div>
    </div>
  </div>


</body>

</html>