<html>
<link rel="stylesheet" href="/dist/css/main.css">
<script src="/dist/js/bootstrap.bundle.min.js"></script>
<script src="/dist/js/main.js"></script>

<body class="mt-4 d-flex align-items-en flex-column gap-4 bg-dark-subtle px-5">


  //Card Spa
  <a href="#" class="card-spa">
    <img class="card-spa__img" src="/dist/assets/img/spa-nice.webp" alt="spa-nice">
    <img class="card-spa__img--hover" src="/dist/assets/img/spa-nice-hover.webp" alt="">
    <div class="card-spa__text">
      <h3>Spa Nice</h3>
      <div class="card-spa__details">
        <div>
          <p>216 x 216 - 5 plazas</p>
          <p>Colección Premium Spa</p>
        </div>
        <div class="card-spa__details--price">
          <p>$$</p>
        </div>
      </div>
    </div>
  </a>



  //Card-Accesorios
  <a href="#" class="card-accesorios">
    <div class="card-accesorios__container">
      <div class="card-accesorios__container--bg">
        <img src="/dist/assets/img/card-accesorios.webp" alt="Pergola Venice">
      </div>
    </div>

    <div class="card-accesorios__text">
      <h4>Pérgola Venice</h4>
      <img src="/dist/assets/icons/card-accesorios__text-plus.svg" alt="">
    </div>
  </a>


  //Card Option
  <div class="card-option">
    <div class="card-option__container">
      <img src="/dist/assets/img/spa-residencial.webp" alt="">
    </div>
    <a class="btn-blue btn-blue--asistente" href="">Spa residencial</a>
  </div>


  //Card 


</body>

</html>