<html>
<link rel="stylesheet" href="/dist/css/main.css">
<script src="/dist/js/bootstrap.bundle.min.js"></script>
<script src="/dist/js/main.js"></script>

<body class="mt-4 d-flex align-items-en flex-column gap-4 bg-dark-subtle px-5">


  //Card Spa
  <a href="#" class="card-spa">
    <img class="card-spa__img" src="/dist/assets/img/spa-nice.webp" alt="spa-nice">
    <img class="card-spa__img--hover" src="/dist/assets/img/spa-nice-hover.webp" alt="">
    <div class="card-spa__text">
      <h3>Spa Nice</h3>
      <div class="card-spa__details">
        <div>
          <p>216 x 216 - 5 plazas</p>
          <p>Colección Premium Spa</p>
        </div>
        <div class="card-spa__details--price">
          <p>$$</p>
        </div>
      </div>
    </div>
  </a>



  //Card-Accesorios
  <a href="#" class="card-accesorios">
    <div class="card-accesorios__container">
      <div class="card-accesorios__container--bg">
        <img src="/dist/assets/img/card-accesorios.webp" alt="Pergola Venice">
      </div>
    </div>

    <div class="card-accesorios__text">
      <h4>Pérgola Venice</h4>
      <img src="/dist/assets/icons/card-accesorios__text-plus.svg" alt="">
    </div>
  </a>


  //Card Option
  <div class="card-option">
    <div class="card-option__container">
      <img src="/dist/assets/img/spa-residencial.webp" alt="">
    </div>
    <a class="btn-blue btn-blue--asistente" href="">Spa residencial</a>
  </div>


  //Card FAQ
  <div class="card-faq">
    <div class="card-faq__container">
      <img src="/dist/assets/icons/card-faq-icon-box.svg" alt="box">
      <h4>Instalación</h4>
    </div>
    <div class="card-faq__text">
      <ul>
        <li>¿Cuáles son los requerimientos de instalación de un Spa?</li>
        <li>¿Cómo conectar el proyector?</li>
        <li> ¿Cómo conectar mi spa en trifásico?</li>
        <li>El embalaje esta dañado ¿qué debo hacer?</li>
        <li>¿Debo nivelar el suelo?</li>
        <li>Quiero instalar mi Spa en el exterior ¿es posible?</li>
        <li>¿Es necesario hacer una puesta en marcha del Spa?</li>
      </ul>
    </div>
  </div>


  //Card FAQ icon
  <div class="card-faq-icon">
    <img src="/dist/assets/icons/card-faq-icon-box.svg" alt="box">
    <a class="link" href="#">INSTALACIÓN</a>
  </div>


  //Card Prestaciones Menu
  <div class="card-prestaciones-menu">
    <div class="card-prestaciones-menu__container">
      <div class="card-prestaciones-menu__text">
        <h4>Ingeniería y fabricación</h4>
        <p>Prestaciones que nos diferencian como una firma innovadora de spas y swimspas, líder en desarrollo y
          producción propia.</p>
      </div>
      <div class="card-prestaciones-menu__links">
        <!-- link1 -->
        <a  class="link-arrow-grow-white" href="#">
          <span>Aurora</span>
          <div class="d-flex align-items-center container-arrow-white">
              <div class="link__arrow-white"></div>
              <svg xmlns="http://www.w3.org/2000/svg" width="7.026" height="20.162" viewBox="0 0 9.026 20.162">
                <g id="Grupo_12494" class="link__arrow-svg-white" data-name="Grupo 12494" transform="translate(-326.008 -160.675)">
                  <line id="Línea_18" data-name="Línea 18" x1="8.24" y1="10.486" transform="translate(326.401 160.984)"
                    stroke-width="1" />
                  <line id="Línea_19" data-name="Línea 19" y1="9.029" x2="8.24" transform="translate(326.401 171.471)"
                    stroke-width="1" />
                </g>
              </svg>
            </div>
          </a>
          <!-- link2 -->
        <a  class="link-arrow-grow-white" href="#">
          <span>Made in Europe</span>
          <div class="d-flex align-items-center container-arrow-white">
              <div class="link__arrow-white"></div>
              <svg xmlns="http://www.w3.org/2000/svg" width="7.026" height="20.162" viewBox="0 0 9.026 20.162">
                <g id="Grupo_12494" class="link__arrow-svg-white" data-name="Grupo 12494" transform="translate(-326.008 -160.675)">
                  <line id="Línea_18" data-name="Línea 18" x1="8.24" y1="10.486" transform="translate(326.401 160.984)"
                    stroke-width="1" />
                  <line id="Línea_19" data-name="Línea 19" y1="9.029" x2="8.24" transform="translate(326.401 171.471)"
                    stroke-width="1" />
                </g>
              </svg>
            </div>
          </a>
           <!-- link3 -->
        <a  class="link-arrow-grow-white" href="#">
          <span>Metallic Structure</span>
          <div class="d-flex align-items-center container-arrow-white">
              <div class="link__arrow-white"></div>
              <svg xmlns="http://www.w3.org/2000/svg" width="7.026" height="20.162" viewBox="0 0 9.026 20.162">
                <g id="Grupo_12494" class="link__arrow-svg-white" data-name="Grupo 12494" transform="translate(-326.008 -160.675)">
                  <line id="Línea_18" data-name="Línea 18" x1="8.24" y1="10.486" transform="translate(326.401 160.984)"
                    stroke-width="1" />
                  <line id="Línea_19" data-name="Línea 19" y1="9.029" x2="8.24" transform="translate(326.401 171.471)"
                    stroke-width="1" />
                </g>
              </svg>
            </div>
          </a>
      </div>
    </div>
  </div>


  //Card Prestaciones
  <div class="card-prestaciones" href="#">
    <div class="card-prestaciones__container">
      <img src="/dist/assets/img/card-prestaciones.webp" alt="">
    </div>
    <div class="card-prestaciones__sub">
      <img src="/dist/assets/icons/logo-mobleaurora.svg" alt="logo-mobleaurora">
      <div class="card-prestaciones__text">
        <p>Experimenta más allá del agua, deja que el tacto invada tus sentidos de principio a fin. <span>El mueble Aurora, es una propuesta innovadora, sensorial y sostenible. Esta vez nuestra experiencia empieza desde el exterior, con un mueble que despierta todos tus sentidos.</span></p>
        <a class="card-prestaciones__text-plus" href="#">
          <img src="/dist/assets/icons/card-accesorios__text-plus.svg" alt="">
        </a>
        <a  class="link-arrow-grow" href="#">
          <span>Ir al Blog</span>
          <div class="d-flex align-items-center container-arrow">
              <div class="link__arrow"></div>
              <svg xmlns="http://www.w3.org/2000/svg" width="7.026" height="20.162" viewBox="0 0 9.026 20.162">
                <g id="Grupo_12494" class="link__arrow-svg" data-name="Grupo 12494" transform="translate(-326.008 -160.675)">
                  <line id="Línea_18" data-name="Línea 18" x1="8.24" y1="10.486" transform="translate(326.401 160.984)"
                    stroke-width="1" />
                  <line id="Línea_19" data-name="Línea 19" y1="9.029" x2="8.24" transform="translate(326.401 171.471)"
                    stroke-width="1" />
                </g>
              </svg>
          
            </div>
          </a>
      </div>
    </div>
  </div>


  //algo
</body>

</html>