@use "../../globals";

.btn-cta {
  display: flex;
  text-decoration: none;
  gap: 1rem;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border: none;
  transition: all $delay linear;
  color: $white;
  padding: 18px 26px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: $textExtraBold;
  font-family: Raleway;
  border: 1px solid $white;
  letter-spacing: 1.82px;
  background: transparent;

  & .btn-cta__arrow {
    position: relative;
    margin-right: -6.6px;
    margin-bottom: -1px;
    height: 1px;
    width: 30px;
    background: $white;
    transition: all $delay linear;

    @include media-breakpoint-up(lg) {
      width: 36px;
    }
  }

  & .btn-cta__arrow-svg {
    stroke: $white;
    transition: all $delay linear;
  }

  &:hover {
    color: $black;
    background: $cyan 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #00000099;
    border: 1px solid $cyan;
    padding: 18px 40px;
    margin: 0 -14px;

    & .btn-cta__arrow {
      margin-left: 8px;
      background: rgb(0, 0, 0);
    }

    & .btn-cta__arrow-svg {
      stroke: $black;
    }
  }

  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }
}

.btn-ficha-home {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
  border: none;
  transition: all $delay linear;
  color: $white;
  padding: 20px 18px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: $textExtraBold;
  font-family: Raleway;
  border: 1px solid $white;
  letter-spacing: 1.82px;
  background: transparent;

  &:hover {
    background: $cyan 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #00000099;
    border: 1px solid $cyan;
    color: $black;
  }

  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }
}

.btn-ficha {
  display: flex;
  align-items: center;
  width: fit-content;
  text-decoration: none;
  height: fit-content;
  border: none;
  transition: all $delay linear;
  color: $black;
  padding: 20px 18px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: $textExtraBold;
  font-family: Raleway;
  border: 1px solid $black;
  letter-spacing: 1.82px;
  background: transparent;

  &:hover {
    background: $cyan 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #00000099;
    border: 1px solid $cyan;
  }

  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }
}

.btn-gray {
  display: flex;
  text-decoration: none;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border: none;
  transition: all $delay linear;
  color: $white;
  padding: 20px 18px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: $textExtraBold;
  font-family: Raleway;
  border: 1px solid $gray;
  letter-spacing: 1.82px;
  background: $gray 0% 0% no-repeat padding-box;

  &:hover {
    color: $black;
    background: $cyan 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #00000099;
    border: 1px solid $cyan;
  }

  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }
}

.btn-blue {
  display: flex;
  text-decoration: none;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: fit-content;
  border: none;
  transition: all $delay linear;
  color: $black;
  padding: 12px 18px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: $textExtraBold;
  font-family: Raleway;
  border: 1px solid $cyan;
  letter-spacing: 1.82px;
  background: $cyan 0% 0% no-repeat padding-box;

  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }
}



//ESTOS SON INPUTS TYPE RADIO
.btn-acabado {
  width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  @include media-breakpoint-up(lg) {
    width: 124px;
  }
  &:hover {
    input {
      box-shadow: 0px 0px 15px #0000004D;
    }
  }

  input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 56px;
    height: 56px;
    background-size: cover;
    border-radius: 100%;
    cursor: pointer;

    

    &:checked {
      box-shadow: 0px 0px 15px #0000004D;
    }
    &:checked + label {
      p {
        transition: border-bottom .2s linear;
        border-bottom: 1px solid $black;
      }
    }
  }

  label {
    p {
      text-align: center;
      width: fit-content;
      max-width: 95px;
      font-size: 12px;
      margin: 0px;
      border-bottom: 1px solid transparent;
      transition: border-bottom .2s linear;
    }
    
  }

  

  @include media-breakpoint-up(lg) {
    input {
      width: 124px;
      height: 124px;
    }
    label p {
      font-size: 16px;
    }
  }
}