@use "../../globals";

.btn-cta {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border: none;
  transition: all 0.15s linear;
  color: white;
  padding: 18px 26px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  font-family: Raleway;
  border: 1px solid white;
  letter-spacing: 1.82px;
  background: transparent;

  & .btn-cta__arrow {
    position: relative;
    margin-right: -6.6px;
    margin-bottom: -1px;
    height: 1px;
    width: 30px;
    background: white;
    transition: all 0.15s linear;

    @include media-breakpoint-up(lg) {
      width: 36px;
    }
  }

  & .btn-cta__arrow-svg {
    stroke: white;
  }

  &:hover {
    color: black;
    background: #94F0F5 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #00000099;
    border: 1px solid #94F0F5;
    padding: 18px 40px;
    margin: 0 -14px;


    & .btn-cta__arrow {
      margin-left: 8px;
      background: rgb(0, 0, 0);

    }

    & .btn-cta__arrow-svg {
      stroke: black;
    }
  }

  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }
}

.btn-ficha-home {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border: none;
  transition: all 0.15s linear;
  color: white;
  padding: 20px 18px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  font-family: Raleway;
  border: 1px solid white;
  letter-spacing: 1.82px;
  background: transparent;

  &:hover {

    background: #94F0F5 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #00000099;
    border: 1px solid #94F0F5;

  }

  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }
}





.btn-ficha {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border: none;
  transition: all 0.15s linear;
  color: black;
  padding: 20px 18px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  font-family: Raleway;
  border: 1px solid black;
  letter-spacing: 1.82px;
  background: transparent;

  &:hover {

    background: #94F0F5 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #00000099;
    border: 1px solid #94F0F5;

  }

  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }
}




.btn-gray {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border: none;
  transition: all 0.15s linear;
  color: white;
  padding: 20px 18px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  font-family: Raleway;
  border: 1px solid #464646;
  letter-spacing: 1.82px;
  background: #464646 0% 0% no-repeat padding-box;

  &:hover {
    color: black;
    background: #94F0F5 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #00000099;
    border: 1px solid #94F0F5;

  }

  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }
}




.btn-blue {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: fit-content;
  border: none;
  transition: all 0.15s linear;
  color: black;
  padding: 12px 18px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  font-family: Raleway;
  border: 1px solid #94F0F5;
  letter-spacing: 1.82px;
  background: #94F0F5 0% 0% no-repeat padding-box;

  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }
}