<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/dist/css/main.css">
  <title>Ficha Spa</title>
</head>


<b class="d-flex align-items-en flex-column gap-4 bg-dark-subtle px-5">

  //home
  <a href="#" class="btn-cta"><span>Descubre nuestros spas</span>

    <div class="d-flex align-items-center">
      <div class="btn-cta__arrow"></div>
      <svg xmlns="http://www.w3.org/2000/svg" width="7.026" height="20.162" viewBox="0 0 9.026 20.162">
        <g id="Grupo_12494" class="btn-cta__arrow-svg" data-name="Grupo 12494" transform="translate(-326.008 -160.675)">
          <line id="Línea_18" data-name="Línea 18" x1="8.24" y1="10.486" transform="translate(326.401 160.984)"
            stroke-width="1" />
          <line id="Línea_19" data-name="Línea 19" y1="9.029" x2="8.24" transform="translate(326.401 171.471)"
            stroke-width="1" />
        </g>
      </svg>

    </div>


  </a>

  //home-sm
  <a href="#" class="btn-ficha-home px-5">Descargar</a>


  //button/ficha
  <a href="#" class="btn-ficha">Descargue el catalogo</a>


  // button--gray
  <a href="#" class="btn-gray">SOLICITE UN PRESUPUESTO</a>


  // button--blue/ficha-producto/sm
  <a href="#" class="btn-blue">PEDIR PRESUPUESTO</a>


  //button-acabado (input type="radio")
  <div class="btn-acabado">
    <input class="helmet-input" id="casco-1" style="background-image: url('/dist/assets/img/44-white.png');"
      type="radio" name="casco" checked>
    <label for="casco">
      <p>44 White</p>
    </label>
  </div>
  <div class="btn-acabado">
    <input class="helmet-input" id="casco-1" style="background-image: url('/dist/assets/img/44-white.png');"
      type="radio" name="casco" checked>
    <label for="casco">
      <p>44 White</p>
    </label>
  </div>


  //Card Option Asistente Input type radio
  <div class="asistente-input">
    <input type="radio" id="asistente-spa" name="asistente-spa" style="background-image: url('/dist/assets/img/spa-residencial.webp');">
    <label for="asistente-spa">
      <span>
        2/3 personas
      </span>
    </label>
  </div>

  <div class="asistente-input">
    <input type="radio" id="asistente-spa" name="asistente-spa" style="background-image: url('/dist/assets/img/spa-residencial.webp');">
    <label for="asistente-spa">
      <span>
        2/3 personas
      </span>
    </label>
  </div>


  <script src="/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/dist/js/main.js"></script>
  </body>

</html>