@use "../../globals";
@use "../../mixins";

.banner-posts__img img {
  max-height: 480px;
}

.banner-posts__img {
  position: relative;
}

.banner-posts__logo {
  position: absolute;
  width: 35%;
  height: auto;
  max-width: 266px;
  max-height: 178px;
  right: 0;
  //   bottom: ;
  transform: translate(-25%, -50%);

  @include media-breakpoint-up(lg) {
    width: 20%;
  }
}


.posts-page {
  .slider-large-container--prestaciones {
    padding: 0;

    #next-prestaciones {
      display: none;
    }
    #prev-prestaciones {
      display: none;
    }
}
}