@use "../../globals";


//card-category-blog

.card-category-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 319px;
  min-width: 349px;
  overflow: hidden;
  transition: all $delay linear;
  padding: 20px 50px;


  &::before {
    content: url(/dist/assets/icons/bx-plus-white.svg);
    position: absolute;
    width: 36px;
    right: 6px;
    bottom: 10px;
    transition: all $delay linear;
    opacity: 1;
    z-index: 1;

    @include media-breakpoint-up(sm) {
      display: none;

    }

  }

  &:hover {

    &::before {
      rotate: 45deg;
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all $delay linear;
    background: transparent linear-gradient(360deg, #000000 0%, #54545400 100%) 0% 0% no-repeat padding-box;
    bottom: 0;
    opacity: 0.4;

  }


  &:hover {

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background: transparent linear-gradient(360deg, #000000 0%, #54545400 100%) 0% 0% no-repeat padding-box;
      opacity: 0.85;
    }
  }


  & h4 {
    position: relative;
    font-size: 32px;
    color: $white;
    z-index: 2;
    max-width: 400;
  }

  & p {

    position: relative;
    font-size: 16px;
    max-width: 400;
    color: $white;
    z-index: 2;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all $delay linear;


    @include media-breakpoint-up(sm) {
      opacity: 1;
      height: auto;
    }


  }


  & .card-category-blog__bg {
    background-image: url(/dist/assets/img/card1.png);
    position: absolute;
    inset: 0;
    background-size: cover;
    transition: all $delay linear;
    width: 100%;
    height: 100%;

  }

  & .card-category-blog__plus {
    position: relative;
    display: none;
    visibility: hidden;
    opacity: 0;
    width: 80px;
    transition: all $delay linear;
    z-index: 2;
    margin: 30px 0px;

    @include media-breakpoint-up(sm) {
      width: 130px;
      display: block;

    }
  }


  &:hover .card-category-blog__bg {
    transform: scale(1.1);
  }

  &:hover .card-category-blog__plus {
    visibility: visible;
    opacity: 1;
  }

  &:hover p {
    opacity: 1;
    height: 160px;

    @include media-breakpoint-up(sm) {
      opacity: 1;
      height: auto;

    }
  }

}

//card-category-blog-fin//


