<html>
<link rel="stylesheet" href="/dist/css/main.css">
<script src="/dist/js/bootstrap.bundle.min.js"></script>
<script src="/dist/js/bootstrap.main.js"></script>

<body class="mt-4 d-flex align-items-en flex-column gap-4 bg-dark-subtle px-5 py-5">

  //All Cards
  <div class="d-flex ">

  </div>

  //card-category-blog--full/Home

  <a href="#" class="card-category-blog gb-card">
    <div class="card-category-blog__bg">
    </div>

    <img class="card-category-blog__plus" src="/dist/assets/icons/bx-plus.svg" alt="plus">

    <h4>Descubre los beneficios de la hidroterapia en tu spa</h4>
    <p>La técnica terapéutica de la hidroterapia, tiene muchos beneficios que han sido utilizados para tratar una
      variedad de afecciones y con el objetivo de mejorar…</p>
  </a>


  card-category-blog--lite/Blog

  <a href="#" class="card-category-blog-lite gb-card">
    <div class="card-category-blog-lite__container">
      <div class="card-category-blog-lite__bg">
        <img class="card-category-blog-lite__plus" src="/dist/assets/icons/bx-plus.svg" alt="plus">
      </div>
    </div>

    <h4>Descubre los beneficios de la hidroterapia en tu spa</h4>
    <p>La técnica terapéutica de la hidroterapia, tiene muchos beneficios que han sido utilizados para tratar una
      variedad de afecciones y con el objetivo de mejorar…</p>
  </a>



  //card-map/Donde Comprar
  <button class="card-map">

    <img class="card-map__img" src="/dist/assets/icons/location-dark.svg" alt="location icon">

    <div class="card-map__description">
      <h3 class="">Catalonia AquaGrup <span>(Spain)</span></h3>
      <h4>Av de la Porta Diagonal, 34. Cornellà de Llobregat (Salida 15 Rda. de Dalt).</h4>
      <span class="card-map__description--span">ShowRoom</span>
      <p>T. 933 770 665</p>
      <p>nfo@cataloniaaqua.com</p>
      <div class="d-flex align-items-center justify-content-between gap-5">
        <p class="fw-bold">www.cataloniaaqua.com</p>
        <span class="d-flex align-items-center">85km <img class="ml-auto" width="16px"
            src="/dist/assets/icons/Shape.svg" alt="Shape"></span>
      </div>
    </div>
  </button>
</body>

</html>