<html>
<link rel="stylesheet" href="/dist/css/main.css">
<script src="/dist/js/bootstrap.bundle.min.js"></script>
<script src="/dist/js/bootstrap.main.js"></script>

<body class="mt-4 d-flex align-items-en flex-column gap-4 bg-dark-subtle px-5">

  //All Cards


  //card-category-blog--full/Home
  <div class="d-flex ">

  </div>
  <div class="card-category-blog gb-card bg-primary">
    <div class="card-category-blog__bg">
    </div>

    <img class="card-category-blog__plus" src="/dist/assets/icons/bx-plus.svg" alt="plus">

    <h4>Descubre los beneficios de la hidroterapia en tu spa</h4>
    <p>La técnica terapéutica de la hidroterapia, tiene muchos beneficios que han sido utilizados para tratar una
      variedad de afecciones y con el objetivo de mejorar…</p>
  </div>

</body>

</html>