@use "../../../globals";
@use '../../../mixins';

.ficha-tecnica {
    @include desk-space;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 80px $pxMobile;

    h3 {
        text-align: center;
        font-size: 28px;
        font-weight: $textMedium;
    }

    &__dropdowns {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
    }

    @include media-breakpoint-up(lg) {
        padding-top: 114px;

        h3 {
            font-size: 42px;
        }

        &__dropdowns {
            align-items: flex-start;
            flex-direction: row;
            gap: 17px;
            justify-content: center;
        }
    }
}

/*Dropdown animation*/
@keyframes closing {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes opening {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.details_anim_open {
    animation: opening $delay ease;
}

.details_anim_close {
    animation: closing $delay ease;
}