//Importar Fuentes
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

//! Configurar Fuentes
body {
  font-family: "Raleway", Arial, sans-serif;
}

blockquote {
  font-family: Raleway;
  font-weight: 600;
  font-size: 42px;

  @include media-breakpoint-up(lg) {
    font-size: 86px;
  }
}

h1 {
  font-family: Raleway;
  font-weight: 600;
  font-size: 36px;

  @include media-breakpoint-up(lg) {
    font-size: 58px;
  }
}

h2 {
  font-family: Raleway;
  font-weight: 400;
  font-size: 36px;

  @include media-breakpoint-up(lg) {
    font-size: 36px;
  }
}

h3 {
  font-family: Raleway;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 28px;

  @include media-breakpoint-up(lg) {
    font-size: 42px;
  }
}

h4 {
  font-family: Raleway;
  font-weight: 500;
  font-size: 28px;

  @include media-breakpoint-up(lg) {
    font-size: 38px;
  }
}

p {
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
}

.posts-page {
  h1 {
    font-size: 42px !important;
    line-height: 48px;
    margin-bottom: 0;
  }
  h2 {
    font-size: 32px !important;
    line-height: 42px;
    margin: 10px 0 0 0;
  }
  h3 {
    font-size: 24px !important;
    line-height: 34px;
    margin: 10px 0 0 0;
  }
  p {
    font-size: 18px !important;
    line-height: 28px;
    margin-bottom: 0;
  }
}
