//* Global VARS

//Custom colors
$cyan: #94F0F5;
$darkCyan: #BAEFF2;
$white: #fff;
$darkWhite: #F7F7F7;
$beige: #EFEDE9;
$gray: #464646;
$grayOff: #C7C6BE;
$blackGradient: #111111;
$grayGradient: #545454;
$grayText: #575757;
$grayBorder: #A5A5A5;
$black: #000;

//Transition Delay (tiempo default de las transitions)
$delay: 0.4s;

//Paddings Eje X
$pxMobile: 25px;
$pxDesktop: 13%;

//Ancho max de elementos
$maxW: 1420px;

//Font Weights
$textLight: 300;
$textRegular: 400;
$textMedium: 500;
$textSemibold: 600;
$textBold: 700;
$textExtraBold: 800;

//Bootstrap vars rewritten
$primary: $cyan;
$secondary: $gray;
$info: $beige;
$danger: $darkWhite;
$light: $white;
$font-family-base: 'Raleway';
$link-color: $black;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  special:1158px,
  xl: 1200px,
  xxl: 1400px
);//son los defaults