//Custom vars
$primary: #BAEFF284;
$black: #222;
$yellow: #FFB525;







//Bootstrap vars rewritten
$font-family-base: 'Raleway';
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);//son los defaults