@use "../../globals";
@use "../../mixins";

.banner-posts--blog {
  .banner-posts__img {
    @include media-breakpoint-up(lg) {
      max-width: 880px;
      max-height: 586px;

      img {
        width: 100%;
        height: 100%;
        max-height: 586px;
      }
    }
  }
}

// 

.blog-article {
  @include blog-space;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 25px;
  padding-left: 25px;

  img {
    width: 100%;

    @include media-breakpoint-up(lg) {
      max-width: 550px;
      max-height: 550px;
    }
  }

  h3 {
    align-self: flex-start;
    font-size: 42px;
    text-transform: none;
    font-weight: $textMedium;
    margin-bottom: 30px;
  }
}

.posts-page .intro-vertical {
  padding-top: 70px;
}

.slider-large-container--blogpost {
  height: 700px;
  @include media-breakpoint-up(lg) {
    height: 700px;
  }
}

#pagination-blogpost {
  // bottom: 0 !important;
  @include media-breakpoint-up(lg) {
    bottom: -10% !important;
  }
  @include media-breakpoint-up(xl) {
    bottom: 0 !important;
  }
}

.posts-page {
  .slider-large-container--blogpost {
    padding: 0;

    #next-blogpost {
      display: none;
    }
    #prev-blogpost {
      display: none;
    }
}
}