@use "../../globals";
@use "../../mixins";

.posts-page {
  .posts-page__slider {
    h3 {
      align-self: flex-start;
    }
  }

  .intro-vertical {
    padding-bottom: 0px;
  }

  .posts-page__slider h3 {
    font-size: 22px;

    @include media-breakpoint-up(lg) {
      font-size: 30px;
    }
  }
}



.banner-posts {
  position: relative;
}

.banner-posts::before {
  @include media-breakpoint-up(lg) {
    z-index: -1;
    content: "";
    position: absolute;
    top: calc(50% + 81px); // Posiciona la línea en el medio verticalmente (81 = mitad del padding)
    left: 0; // Comienza desde el borde izquierdo
    right: 0; // Extiende hasta el borde derecho
    border-top: .5px solid $grayOff; // Crea una línea horizontal
    transform: translateY(-50%); // Ajusta la línea al centro exacto
  }
}


.section-slider-accsesorios {
  @include desk-space;
  padding: 90px $pxMobile;
  display: flex;
  flex-direction: column;
  gap: 25px;
  @include media-breakpoint-up(lg) {
    padding: 100px $pxMobile;
    gap: 55px;
  }


  & .section-slider-accsesorios__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 15px;
    padding-right: $pxMobile;

    @include media-breakpoint-up(lg) {
      margin-bottom: 64px;
    }

    & h3 {
      font-size: 28px;
      font-weight: $textMedium;

      @include media-breakpoint-up(lg) {
        font-size: 42px;
      }
    }

    & p {
      font-size: 18px;
      font-weight: $textRegular;
      text-wrap: wrap;
      text-align: center;
    }
  }
}