@use "../../globals";
@use "../../mixins";


.conceptualizamos {
    padding: 71px 20px;
    max-width: 868px;
    text-align: start;

    @include media-breakpoint-up(lg) {
        padding: 123px 20px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }


    & p {
        font: normal normal normal 18px/28px Raleway;
        letter-spacing: 0px;
        color: #575757;

        & span {
            font-weight: bold;
        }
    }
}

.intro-modulo-la-marca-aquavia {

    padding-bottom: 387px;

    & .intro__container__text {
        @include media-breakpoint-up(lg) {
            width: 50%;

        }
    }

    & .intro__container__img {
        & img {
            width: 100%;
            height: auto;

            /*    @include media-breakpoint-up(lg) {
                width: auto;
                height: 100%;

            } */
        }
    }

}

.valores-modulo-la-marca-aquavia {
    margin-top: -320px;
    margin-bottom: 161px;
}