@use "../../globals";

.intro {
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 60px 25px;

    @include media-breakpoint-up(lg) {
      padding: 85px 25px 100px 25px;
    }

    @include desk-space;

    &__text {
      display: flex;
      flex-direction: column;
      gap: 25px;

      blockquote {
        font-size: 36px;
        font-weight: $textSemibold;
        margin: 0;
        line-height: 44px;

        @include media-breakpoint-up(lg) {
          line-height: unset;
        }

        span {
          display: block;
          font-weight: $textRegular;
        }
      }

      p {
        margin: 0;
      }
    }

    &__img {
      display: flex;
      justify-content: center;

      img {
        width: 168px;
        height: 146px;
      }
    }

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      gap: 190px;
      justify-content: center;

      @include media-breakpoint-up(xxxl) {
        justify-content: start;
      }

      &__text {
        max-width: 725px;

        blockquote {
          font-size: 58px;

          span {
            line-height: normal;
            font-size: 48px;
          }
        }
      }

      &__img {
        align-items: center;

        img {
          width: 257px;
          height: 223px;
        }
      }
    }
  }
}

.intro-ficha .intro {
  @include desk-space;

  &__container {
    padding: 65px $pxMobile 80px $pxMobile;
    flex-direction: column-reverse;
    gap: 37px;

    @include media-breakpoint-up(lg) {
      padding: 106px $pxMobile;
      flex-direction: row;
      gap: 123px;
    }

    &__text {
      @include media-breakpoint-up(lg) {
        max-width: 670px;
      }

      blockquote {
        font-size: 30px;
        font-weight: $textMedium;
        line-height: 36px;

        @include media-breakpoint-up(lg) {
          font-size: 42px;
          line-height: 48px;
        }
      }

      p {
        font-size: 18px;
        font-weight: $textRegular;
        color: $grayText;
        line-height: 28px;
        @include media-breakpoint-up(lg) {
          max-width: 655px;
        }
      }
    }

    &__img {
      img {
        width: 315px;
        height: 240px;

        @include media-breakpoint-up(lg) {
          width: 100%;
          max-width: 630px;
          height: 100%;
          max-height: 480px;
        }
      }
    }
  }
}


.intro-special {



  & .intro-header {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 99px;
    padding-bottom: 395px;

    @include media-breakpoint-up(lg) {
      padding-top: 109px;
      padding-bottom: 286px;

    }

    & h2 {
      font: normal normal 600 30px/37px Raleway;
      margin-bottom: 22px;

      @include media-breakpoint-up(lg) {
        font: normal normal 600 48px/58px Raleway;
        margin-bottom: 31px;

      }

    }

    & p {
      font: normal normal normal 18px/28px Raleway;

      @include media-breakpoint-up(lg) {
        font: normal normal normal 18px/28px Raleway;
        max-width: 868px;
        margin-left: auto;
        margin-right: auto;
      }
    }

  }

  & .intro-special__imgs {
    display: flex;
    flex-direction: column;
    gap: 63px;
    width: 100%;
    max-width: $maxW;
    margin: 0 auto;
    margin-top: -350px;
    padding-left: 20px;
    padding-right: 20px;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      gap: 0;
      margin-top: -200px;

    }

    & .imgs__container {
      position: relative;
      width: 100%;

      @include media-breakpoint-up(lg) {
        width: 50%;


      }

      & .intro-img-bg {
        width: 100%;

      }

      & .intro-img-inside {
        width: 20%;
        height: auto;
        position: relative;
        object-fit: cover;
        margin-top: -40px;
        margin-left: 50px;
      }
    }
  }

  & .btn-ficha {
    margin-top: 88px;
    margin-bottom: 151px;

    @include media-breakpoint-up(lg) {
      margin-top: 172px;
      margin-bottom: 160px;
    }
  }
}