@use "../../globals";
@use "../../mixins";

.asistente {
  @include desk-space;

  &__container {
    padding: 107px $pxMobile 77px $pxMobile;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include media-breakpoint-up(lg) {
      gap: 43px;
      overflow-x: auto;
    }

    &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      @include media-breakpoint-up(lg) {
        gap: 9px;
      }

      h1 {
        font-size: 14px;
        font-weight: $textBold;
        line-height: 16px;
        margin: 0px;
        text-transform: uppercase;
        text-align: center;
      }

      h2 {
        font-size: 36px;
        font-weight: $textBold;
        line-height: 40px;
        margin: 0px;
        text-align: center;

        @include media-breakpoint-up(lg) {
          margin-top: 27px;
          line-height: 54px;
        }
      }

      p {
        font-size: 16px;
        font-weight: $textMedium;
        color: $grayBorder;
        line-height: 19px;
        margin: 0px;
        text-align: center;
      }
    }

    &__cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 21.5px;

      @include media-breakpoint-up(lg) {
        flex-direction: row;
        justify-content: center;
        gap: 13.8px;
      }
    }
  }
}

.asistente-inner {
  padding-top: 109px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    gap: 0px;
    justify-content: space-around;

    &__steps {
      padding-left: $pxMobile;

      @include media-breakpoint-up(lg) {
        margin-top: 100px;
        width: 250px;
        min-width: 190px;
      }
    }
  }

  .asistente__container {
    @include media-breakpoint-down(lg) {
      padding-top: 10px;
    }
  }

  .asistente__container__header {
    @include media-breakpoint-up(lg) {
      h2 {
        margin-top: 49px;
      }
    }
  }
}

/*Pruebas*/

.asistente-inner__steps {
  position: relative;
}

.asistente-inner__steps--anterior {
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;

  @include media-breakpoint-up(lg) {
    position: relative;
    top: -85px;
    left: 0px;
    width: fit-content;
  }
}

.asistente-inner__steps::before {
  @include media-breakpoint-up(lg) {
    content: "";
    position: absolute;
    right: 0px;
    bottom: -5%;
    height: 110%;

    width: 1px;
    background: #21252916;
  }
}


.steps-block {
  display: flex;
  gap: 14px;
}

.card-steps {
  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: flex-start;
  }


  & svg {
    @include media-breakpoint-up(lg) {
      margin-left: 12.5px;

    }
  }
}

.step-container {
  display: contents;

  @include media-breakpoint-up(lg) {
    display: flex;
    gap: 8px;
    max-height: 27px;

  }
}

.truncate {
  display: none;
  /*  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  max-width: 180px;
  font-size: 13px;

  @include media-breakpoint-up(lg) {
    display: inline-block;
  }
}

.step {
  display: flex;
  min-width: 27px;


}


.asistente-input--logo {
  background-color: $beige;

  &:hover {
    background-color: $primary;

    input {
      background-image: none !important;
      filter: brightness(1);
    }
  }
  
  input {
    background-size: 105px;
    background-position: center 40%;
    &::after {
    content: url("/dist/assets/icons/card-option__container__check--white.svg");
    }
  }

  label {
    height: 100px;
  }

  input {
    &:checked {
      background-image: none !important;
      background-color: $primary;
      filter: brightness(1);
    }
  }
}