@use "../../globals";
@use "../../mixins";

.banner-descargar-catalogo {



    background: transparent linear-gradient(0deg, #000 0%, #545454 100%) 0% 0% no-repeat;


    & .banner-text {
        display: flex;
        flex-direction: column;
        padding: 0 25px;
        padding-top: 135px;
        padding-bottom: 66px;
        max-width: 100%;
        max-width: $maxW + 25;
        margin: 0 auto;
        gap: 25px;

        @include media-breakpoint-up(lg) {
            flex-direction: row;
            padding-top: 218px;
            padding-bottom: 161px;
        }

        & div {
            width: 100%;

            @include media-breakpoint-up(lg) {
                width: 50%;

            }

            & .banner-descargar-catalogo__img {
                position: relative;
                width: 243px;
                margin: 0 auto;
                margin-left: 18%;

                @include media-breakpoint-up(lg) {
                    width: 434px;
                   

                    margin-left: 200px;
                    margin-bottom: -200px;


                }
            }
        }



        & h1 {
            font: normal normal 600 42px/49px Raleway;
            padding-top: 40px;
            text-align: start;
            color: white;

            @include media-breakpoint-up(lg) {
                font: normal normal medium 58px/61px Raleway;

            }

        }
    }

}

.form-full-page-descargar-catalogo {
    margin-bottom: 171px;

    & .descargar-catalogo-header h2 {
        text-align: center;
        font: normal normal normal 26px/28px Raleway;
        margin-top: 90px;
        margin-bottom: 29px;
    }



}