@use "../../../globals";


.transform-module {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;



  @include media-breakpoint-up(lg) {
    display: flex;
    gap: 4px;
    flex-direction: row;

    &:hover {
      gap: 0;
    }
  }
}

.card-transform-right {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 63% center;
  width: 100%;
  transition: all $delay linear;
  overflow: hidden;
  height: 295px;

  @include media-breakpoint-up(lg) {
    right: 0;
    width: 50%;
    height: 80vh;
    display: flex;
    justify-content: flex-end;

  }

  & .card-transform__card-inside {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 644px;
    width: 644px;
    height: 100%;
    margin-left: 20px;
    padding: 20px 0px;
    transition: all $delay linear;
    color: $white;
    overflow: hidden;


    @include media-breakpoint-up(lg) {
      margin-right: 20px;
      padding: 30px 147px;
      height: 80vh;

    }

    @include media-breakpoint-up(xxxl) {
      padding: 86px 147px;

    }

    @include media-breakpoint-up(xl) {
      margin-right: 70px;

    }

    @include media-breakpoint-up(xxl) {
      margin-right: 200px;

    }


    .card-transform__card-inside--img {
      position: relative;
      width: 157px;
      height: auto;
      align-self: center;
      justify-self: flex-start;
      margin-bottom: auto;
      margin-top: 30px;
      opacity: 0;

      @include media-breakpoint-up(xxxl) {
        margin-top: 40px;
        width: 177px;

      }

    }

    & h3 {
      position: relative;
      font-size: 44px;
      text-transform: none;

      @include media-breakpoint-up(lg) {
        font-size: 58px;

      }
    }

    & p {
      position: relative;
      display: none;
      font-size: 20px;
      font-weight: $textRegular;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      max-width: 400;
      transition: all $delay linear;


      @include media-breakpoint-up(lg) {
        display: block;

      }
    }

    & a {
      margin-bottom: 16px;
      font-size: 15px;
      opacity: 1;


      .container-arrow-white {
        top: 1;

        @include media-breakpoint-up(lg) {
          top: 4;
        }
      }

      @include media-breakpoint-up(lg) {
        font-size: 18px;

        display: block;
      }
    }

  }

  @include media-breakpoint-up(lg) {
    &:hover .card-transform__card-inside .card-transform__card-inside--img {
      max-height: 300px;
      opacity: 1;

    }

    &:hover .card-transform__card-inside p {
      max-height: 300px;
      opacity: 1;
      margin-bottom: 40px;

      @include media-breakpoint-up(xxxl) {
        margin-bottom: 58px;

      }

    }

    &:hover {
      position: absolute;
      right: 0;
      width: 100%;
      z-index: 2;
    }

    .card-transform__card-inside::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(87, 87, 87, 0.71) 0%, rgba(17, 17, 17, 0.89) 100%) 0% 0% no-repeat padding-box;
      mix-blend-mode: multiply;
      opacity: 0;
      transition: all $delay linear;

    }

    &:hover .card-transform__card-inside::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(87, 87, 87, 0.71) 0%, rgba(17, 17, 17, 0.89) 100%) 0% 0% no-repeat padding-box;
      mix-blend-mode: multiply;
      opacity: 0.69;
    }
  }

}

/* @include media-breakpoint-up(lg) {
  .card-transform-rigth:hover~article {
    opacity: .3;
    z-index: 0;
    width: 0;

  }
}
 */

/*Animacion provicional con JS*/
.opac {
  opacity: .3;
  width: 0;
  z-index: -1;

}